extends layout

block content
    block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title Buyer: #{agency}
                    if address
                        h2.subtitle #{address}
                    h2.subtitle Agent: #{agent}
                    table.table.is-fullwidth.is-striped
                        thead
                            tr
                                th(colspan=2) Metrics
                        tbody
                            tr
                                td Total spent
                                td $#{gross}
                            tr
                                td Total ad spots purchased
                                td #{spots}