extends layout

block content
    block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title Committee: #{name}
                    h2.subtitle= `Address: ${address}, ${city} ${state}, ${zip}`
                    h2.subtitle Type: #{type}
                    h2.subtitle Election date: #{election_date}