extends layout

block content
    block content
    section.section
        .hero.is-large
            .hero-body
                .container
                    h1.title #{name} - #{type}
                    if address
                        h2.subtitle #{address}
                    h2.subtitle Election date: #{election_date}
                    table.table.is-fullwidth.is-striped
                        thead
                            tr
                                th(colspan=2) Metrics
                        tbody
                            tr
                                td Total Raised
                                td $#{gross}
                            tr
                                td Total ad spots
                                td #{spots}